# **Data Types and Structures Questions**

1. What are data structures, and why are they important.

->>
    Ways to organize and sorting data in computer that it can be accessed and modified efficiently.
  
  - Reduced the time complexity.
  - Problem solving.
  - Scalability.
  - Organization.
  - Real world modeling.

2. Explain the difference between mutable and immutable data types with examples.

->>
  Mutable data type can be change after they are created.

    Examples -
        List
        Dictionary
        Set

In [ ]:
 # List (Mutable data type)
 my_list = [1, 2, 3, 4, 5]
 my_list.append(6)
 my_list.append(7)
 my_list

[1, 2, 3, 4, 5, 6, 7]

In [ ]:
 # Dictionary (Mutable data type)
 my_dict = {"Course" : "pwskills", "Sagar" : 3}
 my_dict["Course"] = "Data analytics"
 my_dict

{'Course': 'Data analytics', 'Sagar': 3}

In [ ]:
# Set (Mutable data type)
my_set = {1, 2, 3, 4, 5, 6}
my_set.add(7)
my_set.add(8)
my_set

{1, 2, 3, 4, 5, 6, 7, 8}

Immutable data type cannot be changed after they are created.

    Examples -
        String
        Tuple

In [ ]:
# String (Immutable data type)
my_str = "Sagar"
my_str = "Hello"    # Created new string
my_str

'Hello'

In [ ]:
# Tuple (Immutable data type)
my_tup = (1, 2, 3, 4)
my_tup[0] = 10
my_tup

TypeError: 'tuple' object does not support item assignment

3. What are the main differences between lists and tuples in Python.

->>

             Lists                       Tuple
             
             -Mutable                 -   Immutable
           -   []                       -   ()
         - Slightly Slower            - Slightly Faster
          - Data change               - data not change
       - More memory used             - Less memory use
       - .append(), .remove()        -  .count(), .index()
         method available               method available
       - No Dictionary key            -  dictinary key

4. Describe how dictionaries store data.

->>
       Dictionary is a collection of Key Value pairs.  {Key : Value}

       my_dict = {"name":"sagar", "age":26, "city":"sangamner"}

    Hashing the key.
    Accessing the value.
    Storing the pair.

In [ ]:
person = {"name": "Sagar", "age": 26}
person

{'name': 'Sagar', 'age': 26}

5. Why might you use a set instead of a list in Python.

->>      

*   set eliminate duplicates.
*   Sets is a fast to eliminate.
*   Set supports mathematical operations like union, intersection, difference, symmetric_difference.

In [ ]:
my_set = {1, 1, 2, 2, 2, 4, 3, 7, 5}
my_set

{1, 2, 3, 4, 5, 7}

6. What is a string in Python, and how is it different from a list.

->>
     String is a sequence of characters and its Immutable, it can support index, slicing.

     lists is supports any data type like int, string, it is mutable.

In [ ]:
# String
my_str = "Sagar"
my_str

'Sagar'

In [ ]:
# List
my_list = ["a", "b", "c"]
my_list

['a', 'b', 'c']

7. How do tuples ensure data integrity in Python.

->>  Tuples are immutable means if a tuple created then cannot be changes

In [ ]:
my_tup = (1, 2, 3, 4, 5, 6)
my_tup[0]= 10

TypeError: 'tuple' object does not support item assignment

8. What is a hash table, and how does it relate to dictionaries in Python.

->> Hash table is that stores key value pairs and used hash functions.

dictionaries are built using hash function.

In [ ]:
person = {"name": "Alice", "age": 30}
person

{'name': 'Alice', 'age': 30}

9. Can lists contain different data types in Python.

->>  lists can contain heterogeneous data types and objects. int, bool, string functions can be stored in list

In [ ]:
my_list = [42, "hello", 3.14, True, None, [1, 2, 3], {"key": "value"}]
my_list

[42, 'hello', 3.14, True, None, [1, 2, 3], {'key': 'value'}]

10.  Explain why strings are immutable in Python.

->> string is a immutable.

Hashability, performance, avoid accidental changes, clean design.

11. What advantages do dictionaries offer over lists for certain tasks.

->>  lists an orderd collection of items, accessedd by index.

dictioinary an unorderd collection of key value pairs, accessed by key.

12. Describe a scenario where using a tuple would be preferable over a list.

->> tuples are immutable, once created it cannot be changed. it is fixed size, safe as keys.

13. How do sets handle duplicate values in Python.

->> sets automatically removes duplicates, it can store unique values.

In [ ]:
my_set = {1, 2, 2, 3, 4, 4, 4}
my_set

{1, 2, 3, 4}

14. How does the “in” keyword work differently for lists and dictionaries.

->> if in used for a list, python checks the value exists anywhere in the list.

if in used for a dictionary, python checks the key exists anywhere in the dictionaries.

In [ ]:
# lists
my_list = [10, 20, 30, 40]
20 in my_list

True

In [ ]:
# dictionary
my_dict = {"name": "Alice", "age": 30}
"name" in my_dict

True

15. Can you modify the elements of a tuple? Explain why or why not.

->>  can not modify the elements of a tuple, because tuples are Immutable, once tuple created you cannot be changed.
Data safety, hashability, performance.

but, tuples mutable objects can be modified -

In [ ]:
my_tuple = ([1, 2], 3)
my_tuple[0].append(4)
my_tuple

([1, 2, 4], 3)

16. What is a nested dictionary, and give an example of its use case.

->>
nested dictionary in python is a dictionary where each value is itself another dictionary. to store complex data structire in hierarchical.

In [ ]:
# Example

students = {
    "Alice": {
        "age": 23,
        "major": "Computer Science",
        "grades": {"Math": "A", "Python": "A+", "Databases": "B+"}
    },
    "Bob": {
        "age": 21,
        "major": "Mechanical Engineering",
        "grades": {"Thermodynamics": "B", "Calculus": "A-", "Physics": "A"}
    }
}

In [ ]:
students

{'Alice': {'age': 23,
  'major': 'Computer Science',
  'grades': {'Math': 'A', 'Python': 'A+', 'Databases': 'B+'}},
 'Bob': {'age': 21,
  'major': 'Mechanical Engineering',
  'grades': {'Thermodynamics': 'B', 'Calculus': 'A-', 'Physics': 'A'}}}

17. Describe the time complexity of accessing elements in a dictionary.

->>
element in a dictionary in python has an average case time complexity of O(1).
*  its very fast and constant time regarding size.
*   dictionary implement using hash table.
*   hash directly find to the memory location of a values.

18. In what situations are lists preferred over dictionaries.

->> dictionary are using for hash table.

* Ordered collection
* index based accessed
*  simple sequences
*  iteration in order
*  duplicates allowed

* duplicate value allowed

19. Why are dictionaries considered unordered, and how does that affect data retrieval.

->> dictionaries are unordered collection.
*  dictinari is fast key value loockup.
*  it return same orderd they were added.
*  duplicate values are allowed, but duplicate keys are not allowed.

In [ ]:
my_dict = {'a': 1, 'b': 2, 'c': 3, 'd': 2}
my_dict

{'a': 1, 'b': 2, 'c': 3, 'd': 2}

20. Explain the difference between a list and a dictionary in terms of data retrieval.

->>  List

*  list is a ordered collection of items.
*  accessed data by index.
*   my_list[0] get first element
---
  Dictionary

*   dictionary is a unordered of items.
*   Accessed data by key not position or index
*   my_dict['key'] get value of key

In [ ]:
# list
my_list = ['apple', 'banana', 'cherry']
my_list[1]

'banana'

In [ ]:
# dictionary
my_dict = {'fruit1': 'apple', 'fruit2': 'banana', 'fruit3': 'watermelon'}
my_dict['fruit3']

'watermelon'

# **Practical Questions**

1. Write a code to create a string with your name and print it.

In [ ]:
my_str = "Sagar"

"My name is",my_str

('My name is', 'Sagar')

2. Write a code to find the length of the string "Hello World".

In [ ]:
my_str = "Hello World"

len(my_str)

11

3. Write a code to slice the first 3 characters from the string "Python Programming".

In [ ]:
my_str = "Python Programming"

a = my_str[:3]
a

'Pyt'

4. Write a code to convert the string "hello" to uppercase.

In [ ]:
my_str = "hello"

my_str.upper()

'HELLO'

5. Write a code to replace the word "apple" with "orange" in the string "I like apple".

In [ ]:
a = "I like apple"

b = a.replace("apple", "orange")
b

'I like orange'

6. Write a code to create a list with numbers 1 to 5 and print it.

In [ ]:
l = [1, 2, 3, 4, 5]

l

[1, 2, 3, 4, 5]

In [ ]:
l = list(range(1, 6))

l

[1, 2, 3, 4, 5]

7. Write a code to append the number 10 to the list [1, 2, 3, 4].

In [ ]:
l = [1, 2, 3, 4]

l.append(10)
l

[1, 2, 3, 4, 10]

8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].

In [ ]:
l = [1, 2, 3, 4, 5]

l.remove(3)
l

[1, 2, 4, 5]

9. Write a code to access the second element in the list ['a', 'b', 'c', 'd'].

In [ ]:
l = ['a', 'b', 'c', 'd']

l[1]

'b'

10. Write a code to reverse the list [10, 20, 30, 40, 50].

In [ ]:
List = [10, 20, 30, 40, 50]

List.reverse()
List

[50, 40, 30, 20, 10]

11. Write a code to create a tuple with the elements 100, 200, 300 and print it.

In [ ]:
tup = (100, 200, 300)

tup

(100, 200, 300)

12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

In [ ]:
tup = ('red', 'green', 'blue', 'yellow')

tup[1:]

('green', 'blue', 'yellow')

13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).

In [ ]:
tup1 = (10, 20, 5, 15)

min(tup1)

5

14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

In [ ]:
animal = ('dog', 'cat', 'rabbit')

animal.index('cat')

1

15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

In [ ]:
fruits = ('banana', 'mango', 'cherry')

if "kiwi" in fruits:
  print("kiwi is available in fruits tuple")
else:
  print("kiwi is not available in fruits tuple")

kiwi is not available in fruits tuple

16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.

In [ ]:
Set1 = {'a', 'b', 'c'}

Set1

{'a', 'b', 'c'}

17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

In [ ]:
sets = {1, 2, 3, 4, 5}

sets.clear()
sets

set()

18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.

In [ ]:
set1 = {1, 2, 3, 4}

set1.remove(4)
set1

{1, 2, 3}

19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

In [ ]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}

set1 | set2

{1, 2, 3, 4, 5}

20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

In [ ]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}

set1 & set2

{3}

21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

In [ ]:
dict = {"name" : "Sagar", "age" : 26, "city" : "Sangamner"}

dict

{'name': 'Sagar', 'age': 26, 'city': 'Sangamner'}

22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.

In [ ]:
dict = {'name' : 'John', 'age' : 25,}

dict['country'] = 'USA'
dict

{'name': 'John', 'age': 25, 'country': 'USA'}

23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

In [ ]:
dict = {'name':'Alice', 'age':30}

dict['name']

'Alice'

24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

In [ ]:
dict = {'name': 'Bob', 'age': 22, 'city': 'New York'}

del dict['age']
dict

{'name': 'Bob', 'city': 'New York'}

25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

In [ ]:
dic1 =  {'name': 'Alice', 'city': 'Paris'}

if 'city' in dic1:
  print('key city is exists in dictionary')
else:
  print('key city is not exists in dictionary')

key city is exists in dictionary

26. Write a code to create a list, a tuple, and a dictionary, and print them all.

In [ ]:
l = ['apple', 1, 3, 'pinaple', 'watermelon']
tup = (3, 4, 6, 'mango', 'cherry', 'imaly')
dic = {'name':'Sagar', 'age':26, 'course':'DS'}

print("list :", l)
print("tuple :", tup)
print("Dictionary :", dic)

list : ['apple', 1, 3, 'pinaple', 'watermelon']
tuple : (3, 4, 6, 'mango', 'cherry', 'imaly')
Dictionary : {'name': 'Sagar', 'age': 26, 'course': 'DS'}

27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the
result.(replaced)

In [ ]:
import random

random_numbers = [random.randint(1, 100) for random_numbers in range(5)]

random_numbers.sort()
random_numbers

[11, 18, 35, 45, 49]

In [ ]:
random_num = [99, 55, 87, 23, 66]

random_num.sort()
random_num

[23, 55, 66, 87, 99]

28. Write a code to create a list with strings and print the element at the third index.

In [ ]:
list_string = ['Sagar', 'cherry', 'banana', 'mango', 'watermelon', 'imaly', 'apple']

list_string[3]

'mango'

29. Write a code to combine two dictionaries into one and print the result.

In [ ]:
dict1 = {'name':'Sagar', 'age':26,}
dict2 = {'course':'DS'}

dict2.update(dict1)
dict2

{'course': 'DS', 'name': 'Sagar', 'age': 26}

30. Write a code to convert a list of strings into a set.

In [ ]:
string_list = ['Sagar', 'cherry', 'banana', 'mango', 'watermelon', 'imaly', 'apple']

set(string_list)

{'Sagar', 'apple', 'banana', 'cherry', 'imaly', 'mango', 'watermelon'}